
@media screen and (max-width: 1180px) {
  nav span {
  display: block;
  margin: 0px;
  padding: 3%;
  }
  nav {
  height: 5%;
  border: 0px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  position: relative;
  text-align: center;
  font-family: cursive;
  font-size: 25px;
  top: 0%;
  left:1%;
  right: 1%;
  width: 98%;
}
  aside {
  position: relative;
  left: 1%;
  right: 1%;
  width: 98%;
  border: 0px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  margin-top: 10px;
  }
  section {
  border-radius: 8px;
  box-shadow:none;
  position:relative;
  top: 1%;
  left: 1%;
  width: 98%;
  margin-bottom: 10px;
    font-size: 30px;
}
  div.image3 {
  font-size: 20px;
  width: 60%;
  left: 20%;
  right: 20%;
  display: block;
}
  nav li {
  margin: 0%;
}
 h3:nth-of-type(n){
  font-size: 30px;
}
div.bloc h2 {
  font-size: 35px;
}
section>h1:first-of-type{
  font-size: 45px;
}
.corps>p:first-letter {
  font-size: 45px;
}
div.bloc h2 + .texte:first-letter {
  font-size: 35px; 
}
div span.texte3:first-letter,li:first-letter,ul:first-letter {
  font-size: 30px;
}
  aside {
    display: none;
  }
  body {
    font-size: 20px;
  }
}

@media print {
  img{
    display: none;
  }
  section{
  box-shadow: none;
  border: none;
  position:relative;
  top: 1%;
  left: 2%;
  right: 2%;
  width: 96%;
  }
  header{
    box-shadow: none;
  }
  table{
    display: none;
  }
  aside{
    display: none;
  }
  nav{
    display: none;
  }
  article {
    border:none;
    box-shadow: none;
    width: 100%;
  }
  div.sous-culture {
    border: none;
    box-shadow: none;
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 10px;
  }
  section header{
    font-size: 45px;
  }
  #principale img{
  border-radius: 8px;
  width: 96%;
  }
  nav {
  height: 5%;
  border: 0px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  position: relative;
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  top: 0%;
  left:1%;
  right: 1%;
  width: 98%;
}
  aside {
  position: relative;
  left: 1%;
  right: 1%;
  width: 98%;
  border: 0px solid black;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  margin-top: 10px;
  }
  section {
  border-radius: 8px;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  position:relative;
  top: 1%;
  left: 1%;
  width: 98%;
  margin-bottom: 10px;
}
  div.image3 {
  font-size: 15px;
  width: 96%;
  left: 2%;
  right: 2%;
  display: block;
}
  nav li {
  margin: 0%;
}
 h3:nth-of-type(n){
  font-size: 25px;
}
div.bloc h2 {
  font-size: 30px;
}
section>h1:first-of-type{
  font-size: 40px;
}
.corps>p:first-letter {
  font-size: 40px;
}
div.bloc h2 + .texte:first-letter {
  font-size: 30px; 
}
div span.texte3:first-letter,li:first-letter,ul:first-letter {
  font-size: 25px;
}
  aside {
    display: none;
  }
  body {
    font-size: 15px;
  }
}
td {
  position: relative;
  color: white;
  border-radius: 8px;
  font-size: 80%;
  border: 0.5px solid black;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
}
th {
  position: relative;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 5px rgb(0, 0, 0);
  background-image:url(images/figure07.jpg);
  font-size: 80%;
  border:0.5px solid black;
}
table {
  position: relative;
  height: 100%;
  width: 100%;
}
